# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
/vagrant

# environment files
# configs in alphabetical pls!

/config/params-local.php
/config/credentials.php
/config/tinkoff-invest.php
/config/tinkoff-buy-strategy.php
/config/redis.php

# index files
/web/index.php
/web/index-test.php
/yii

# nginx config file
*.conf

# runtime
/runtime/*
!/runtime/files
/runtime/files/*
!/runtime/files/.gitkeep
